<div class="col text-center" style="z-index: 1;">
  <img src="../assets/image/RankGuesserLogo.png" alt="Logo" width="350">
</div>

<div class="container mt-4" style="z-index: 1;">
  <div class="row">
    <div class="col-lg-4 mb-4" *ngFor="let game of games">
      <div class="card border-dark position-relative" style="background-color: #12122a;">
        <a [href]="game.route">
          <img [src]="game.imageUrl" class="card-img-top img-fluid shadow" [alt]="game.name">
          <h3 class="card-title text-white text-center position-absolute w-100" style="bottom: 50%;">{{ game.name }}</h3>
        </a>
      </div>
    </div>
  </div>
</div>
