.card-img-top, .card    { height: 400px; object-fit: cover; }
.card                   { padding: 0; border-radius: 10px; }
.card h5                { position: absolute; }
.shadow                 { filter: brightness(70%); border-radius: 10px; }