<main>
  <div class="video-container">
    <iframe width="1280" height="720" [src]="youtubeVideoLink" allowfullscreen title="video"></iframe> 1280×720
  </div>  

  <div class="row justify-content-center hidden-mob">
    <ng-container *ngFor="let rank of allRanks; let index = index">
      <div class="col-md-1">
        <img [src]="'../../assets/image/rank_' + game + '/' + rank + '.png'" [alt]="rank" (click)="onGameButtonClick(rank)" height="150">
      </div>
    </ng-container>
  </div>

  <div class="container hidden-pc">
    <div class="row justify-content-center">
      <ng-container *ngFor="let rank of allRanks; let index = index">
        <div class="col-4 mb-3">
          <img [src]="'../../assets/image/rank_' + game + '/' + rank + '.png'" [alt]="rank" (click)="onGameButtonClick(rank)" class="img-fluid" height="150">
        </div>
      </ng-container>
    </div>
  </div>
  
</main>
